# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
